<link rel="stylesheet" href="./css/landing.css">

<div class="login">
  <h1>Login to Get My Fix</h1>
  <form class="form login-form">
    <input type="text" name="login" value="" placeholder="Email" id="email-login">
    <input type="password" name="password" value="" placeholder="Password" id="password-login">
    <p class="submit"><input type="submit" name="commit" value="Login">
  </form>
  <a href="/signup">Sign Up!</a>
</div>

<div class="login-help">
  Forgot your password? <a href="#">Click here to reset it</a>.
</div>

<script src="./js/landing.js"></script>

